<div class="card">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 imgDiv">
                <img src="~/Areas/doctors/doctorImages/8ea72606-3cdf-4bd4-9816-798d2424d156.jpg" 
                     class="img-responsive img-thumbnail img-circle" />
            </div>
            <div class="col-md-8">
                <div class="name head"><i class="fa fa-user-md"></i> mohamed khaled solyman</div>  
                <div class="speciality head"><i class="fa fa-stethoscope"></i> specialized in ezam1 and ezam 2 speciality</div>              
            </div>
        </div>
    </div>
</div>
