
@{
    ViewBag.Title = "Doctor information";
    Layout = Session["usersLayout"].ToString();
}
<!--doctor-information-->
<section class="doctor-info">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="doc-card">
                    <img src="images/mohamed.jpg" class="img-responsive center-block">
                    <div class="base">
                        <ul class="list-unstyled center-block">
                            <li>
                                <img src="icon/doc2.png">
                                <p>دكتور محمد بركات</p>
                            </li>
                            <li>
                                <img src="icon/sp2.png">
                                <p>استاذ جراحة العظام</p>
                            </li>
                            <li>
                                <img src="icon/marker.png">
                                <p>سوهاج-اخميم</p>
                            </li>
                            <li>
                                <img src="icon/price1.png">
                                <p><span>100</span> جنيه</p>
                            </li>
                            <li>
                                <img src="icon/time1.png">
                                <p>
                                    يوميا من <span class="main-color">9 صباحا </span> الى <span class="main-color">6 مساءا</span>
                                    <span class="fr">ما عدا الجمعة</span>
                                </p>
                            </li>
                            <li>
                                <img src="icon/phone1.png">
                                <p>123455</p>
                            </li>
                        </ul>
                        <p class="rate center-block text-center">
                            <i class="fa fa-star fa-lg"></i>
                            <i class="fa fa-star fa-lg"></i>
                            <i class="fa fa-star fa-lg"></i>
                            <i class="fa fa-star fa-lg"></i>
                            <i class="fa fa-star-o fa-lg"></i>
                        </p>
                        <button class="center-block"><i class="fa fa-send fa-lg"> احجز</i></button>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12">
                <div class="doc-info">
                    <h2 class="center-block text-center"><i class="fa fa-info fa-lg"> معلومات عن الطبيب</i></h2>
                    <p class="lead center-block">
                        كلية الجراحيين ماجستير جراحة العظام جامعة القاهرة جراحة اليد والمفاصل الصناعية الاصابات الاصابات والكسور بأنواعها ,والامراض الروماتزمية والمفصلية مثل مفاصل الفخذ والركبتين والكاحل والكتف والعمود الفقرى
                    </p>
                    <div class="social">
                        <h3>التواصل الاجتماعى</h3>
                        <p class="icons pull-left">
                            <a href=""><i class="fa fa-youtube fa-lg"></i></a>
                            <a href=""><i class="fa fa-linkedin fa-lg"></i></a>
                            <a href=""><i class="fa fa-instagram fa-lg"></i></a>
                            <a href=""><i class="fa fa-google-plus fa-lg"></i></a>
                            <a href=""><i class="fa fa-twitter fa-lg"></i></a>
                            <a href=""><i class="fa fa-facebook fa-lg"></i></a>
                        </p>
                    </div>
                </div>
                <div class="doc-services">
                    <h2 class="text-center"><i class="fa fa-road fa-lg"></i> خدمات الطبيب</h2>
                    <div class="services text-center center-block">
                        <div>جراحات الكسور</div>
                        <div>جراحات الكسور</div>
                        <div>جراحات الكسور</div>
                    </div>
                </div>
                <div class="patient-view">
                    <h2 class="text-center">
                        <i class="fa fa-star-o fa-lg"> اراء المرضى</i>
                    </h2>
                    <div class="patients">
                        <div class="patient">
                            <div class="patient-info">
                                <span class="name">
                                    <i class="fa fa-envelope-o fa-lg"></i> محمد احمد
                                </span>
                                <span class="address">سوهاج</span>
                                <span class="age">34 سنه</span>
                            </div>
                            <div class="view">
                                <p class="">خدمة ممتازة ودكتور شاطر جدا ومواعيده دقيقة جدا</p>
                                <p class="rate">
                                    <i class="fa fa-star fa-lg"></i>
                                    <i class="fa fa-star fa-lg"></i>
                                    <i class="fa fa-star fa-lg"></i>
                                    <i class="fa fa-star fa-lg"></i>
                                    <i class="fa fa-star-o fa-lg"></i>
                                </p>
                            </div>
                        </div>
                        <hr class="center-block">
                        <div class="patient">
                            <div class="patient-info">
                                <span class="name">
                                    <i class="fa fa-envelope-o fa-lg"></i> محمد احمد
                                </span>
                                <span class="address">سوهاج</span>
                                <span class="age">34 سنه</span>
                            </div>
                            <div class="view">
                                <p class="">خدمة ممتازة ودكتور شاطر جدا ومواعيده دقيقة جدا</p>
                                <p class="rate">
                                    <i class="fa fa-star fa-lg"></i>
                                    <i class="fa fa-star fa-lg"></i>
                                    <i class="fa fa-star fa-lg"></i>
                                    <i class="fa fa-star fa-lg"></i>
                                    <i class="fa fa-star-o fa-lg"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--doctor information-->


