<footer>
    <div class="scroll-btn center-block text-center pull-right">
        <i class="fa fa-chevron-up fa-lg"></i>
    </div>
    <div class="upper-part">
        <div class="container-fluid">
            <div class="row center-block">
                <div class="col-md-2 col-sm-3 col-xs-12 pages">
                    <h3>الصفحات</h3>
                    <ul class="list-unstyled">
                        <li><a href="/users">الرئيسية</a></li>
                        <li><a href="/users/specialities/specialities">التخصصات</a></li>
                        <li><a href="/doctors/doctor/register">صفحة الأطباء</a></li>
                        <li><a href="/users/search/search">البحث</a></li>
                        <li><a href="/users/advices/advices">نصائح الأطباء</a></li>
                        <li><a href="/users/index/privacy">سياسة الخصوصية</a></li>
                    </ul>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-9 col-xs-12 speciality">
                    <h3>التخصصات</h3>
                    <ul class="three-column list-unstyled">
                        <li><a href="/users/specialities/getSpecialityDoctors?spID=9">دكتور امراض جلدية وتناسلية</a></li>
                        <li><a href="/users/specialities/getSpecialityDoctors?spID=12">دكتور اسنان</a></li>
                        <li><a href="/users/specialities/getSpecialityDoctors?spID=13">دكتور نفسى</a></li>
                        <li><a href="/users/specialities/getSpecialityDoctors?spID=14">دكتور اطفال وحديثى الولادة</a></li>
                        <li><a href="/users/specialities/getSpecialityDoctors?spID=10">دكتور مخ واعصاب</a></li>
                        <li><a href="/users/specialities/getSpecialityDoctors?spID=5">دكتور نساء وتوليد</a></li>
                        <li><a href="/users/specialities/getSpecialityDoctors?spID=4">دكتور عظام</a></li>
                        <li><a href="/users/specialities/getSpecialityDoctors?spID=15">دكتور تحاليل</a></li>
                        <li><a href="/users/specialities/getSpecialityDoctors?spID=16">دكتور اشعه</a></li>
                        <li><a href="/users/specialities/getSpecialityDoctors?spID=3">دكتور جراحة عامة</a></li>
                        <li><a href="/users/specialities/getSpecialityDoctors?spID=17">دكتور جراحة تجميل</a></li>
                        <li><a href="/users/specialities/getSpecialityDoctors?spID=18">دكتور اورام</a></li>
                        <li><a href="/users/specialities/getSpecialityDoctors?spID=19">دكتور ذكورة وعقم</a></li>
                        <li><a href="/users/specialities/getSpecialityDoctors?spID=1">دكتور مسالك بولية</a></li>
                        <li><a href="/users/specialities/getSpecialityDoctors?spID=20">دكتور تخسيس وتغذية</a></li>
                        <li><a href="/users/specialities/getSpecialityDoctors?spID=21">دكتور قلب وأوعية دموية</a></li>
                        <li><a href="/users/specialities/getSpecialityDoctors?spID=6">دكتور أنف واذن وحنجرة</a></li>
                        <li><a href="/users/specialities/getSpecialityDoctors?spID=2">دكتور باطنه</a></li>
                        <li><a href="/users/specialities/getSpecialityDoctors?spID=8">دكتور عيون</a></li>
                        <li><a href="/users/specialities/getSpecialityDoctors?spID=11">دكتور صدر وجهاز تنفسى</a></li>
                        <li><a href="/users/specialities/getSpecialityDoctors?spID=22">دكتور سكر وغدد صماء</a></li>
                    </ul>
                </div>
                <div class="col-lg-5 col-md-4 col-xs-12">
                    <div class="adv center-block text-center">
                        <h2>حمل تطبيقنا الان</h2>
                        <p>حمل تطبيق طبيبك الان وتمتع بكل خدامتنا مجانا دون عناء ووفر وقتك ومجهودك</p>
                        <img src="~/images/mobile.png" class="center-block">
                        <button>
                            <i class="fa fa-download fa-lg"> تحميل مباشر</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lower-part text-center ">
        جميع الحقوق محفوظة لفريق عمل موقع طبيبك
    </div>
</footer>
